.center {
  text-align: center;
  justify-content: center;
}

.numberInput {
  width: 450px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
}

.randomButton {
  width: 250px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  background-color: greenyellow;
  margin-top: 50px;
}

.buttons {
  margin-top: 30px;
  display: flex;
}

.button {
  margin: 20px;
  flex-direction: column;
}

.buttonStyle {
  width: 70px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  background-color: greenyellow;
}